.despesa-page {
    --background: #000;
    color: #fff;

    .despesa-container {
        padding: 24px;
        margin-top: 40px;
    }

    h1 {
        text-align: center;
        margin-bottom: 32px;
        font-size: 28px;
        font-weight: bold;
        color: #32cd32;
    }

    ion-item {
        margin-bottom: 18px;
        --background: #111;
        --color: #fff;
        border-radius: 8px;
    }

    ion-button {
        height: 50px;
        margin-top: 20px;
        --background: #32cd32;
        --color: #000;
        font-weight: bold;
    }

    .criar-container {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .btn-criar {
        --background: #32cd32;
        --color: #000;
        height: 50px;
        font-weight: bold;
        border-radius: 10px;
    }

}