.list-page {
    --background: #000;
    padding: 20px;
    color: #fff;

    .title {
        text-align: center;
        color: #32cd32;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .list-container {
        padding-bottom: 80px;
    }

    .despesa-card {
        --background: #111;
        margin-bottom: 16px;
        border-radius: 12px;
    }

    .linha {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .nome {
        color: #fff;
        font-weight: bold;
    }

    .valor {
        color: #32cd32;
        font-weight: bold;
    }

    .vencimento {
        margin-top: 6px;
        font-size: 14px;
        color: #bbb;
    }

    .botoes {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 10px;
    }

    .criar-container {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .btn-criar {
        --background: #32cd32;
        --color: #000;
        height: 50px;
        font-weight: bold;
        border-radius: 10px;
    }

}